{% extends "base.html" %}
{% load static %}

{% block page_content %}
<style>
    .row {
  display: grid;
  grid-auto-flow: column;
  gap: 5%;
}

</style>
<div class="container-fluid">
    <div class="container">
        <h3>Some of the major citizen science projects running in India are mentioned here. You can access each project with the link provided: </h3>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/AMP.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Amphibians of India</h5>
                        <p class="card-text"> Amphibians of India is a platform/project developed by Indian Foundation for Butterflies (“IFoundButterflies”). This platform imparts knowledge on distribution, endemicity and biology of amphibians in India. You can study the natural history, observe and collect data on amphibians in India using this website. 
                            Year of initiation - 2017
                        </p>
                        <span>Project coordinator -  Ninad Gosavi </span>
                        <br/>
                        Link -<a href="https://www.indianamphibians.org/home" class="btn btn-primary"> https://www.indianamphibians.org/home</a>
                    </div>
                </div>
            </div>
        
        </div>
    


        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/bbc.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Bihu Bird Count</h5>
                        <p class="card-text"> Bihu Bird Count (BBC) is run by birders in Assam (Assam Bird Monitoring Network). 
                            The project began in January 2021. For each of the three Bihus, the Assam Bird Monitoring Network plans to conduct bird counts. 
                            All of these programmes centre on watching and counting wild birds throughout the year. The network also wants to encourage people to associate 
                            the celebration with nature. 

                        </p>
                        <span>Year of initiation - 2020</span><br/>
                        <span>Project coordinator - Jaydev Mandal, Rupam Bhaduri And Leons Abraham Mathew</span>
                            
                        
                        <br/>
                        E-mail Address: <a href="mailto: bihubirdcount@gmail.com" > bihubirdcount@gmail.com </a>
                    </div>
                </div>
            </div>
        
        </div>

        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/atlas.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Biodiversity Atlas</h5>
                        <p class="card-text"> India - This natural history web platform provides species based data on biodiversity. 
                            The data you contribute will be peer reviewed by professional biologists. This website mostly provides natural history data which drives
                             educational and outreach programmes. 

                        </p>
                        <span>Year of initiation - 2017 </span>
                        <br/>
                        <span>Project Coordinator - Prof. Krushnamegh Kunte </span>
                        <br/>
                        Citizen participation through - Website
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/biochennai.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Biodiversity of Chennai</h5>
                        <p class="card-text"> 
                            This is an inaturalist project, which is based on chennai and its outskirts. The citizens of chennai can submit their data on birds, butterflies, fungi, insects etc through inaturalist platform. 

                        </p>
                        <br/>
                        <span>
                            Year of initiation - 2019
                        </span>
                        <span>Project Coordinator - Vikas Madhav Nagarajan </span>
                        <br/>
                        Website -<a href="https://www.inaturalist.org/projects/" class="btn btn-primary"> https://www.inaturalist.org/projects/</a>
                        <br/>
                        <span>
                            Citizen participation through - Website, Mobile application
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/birdcount.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Bird Count India</h5>
                        <p class="card-text"> 
                            Bird Count India is an informal partnership of organisations and groups working together to increase collective knowledge about bird distributions and populations.
                             The project focuses on documenting the diversity and distribution of Indian birds. 
                        </p>
                        <br/>
                        <span>Year of initiation - 2014</span>
                        <br/>
                        <span>Project Coordinator - Mittal Gala </span>
                        <br/>
                        Website -<a href="https://birdcount.in/" class="btn btn-primary"> https://birdcount.in/</a>
                    </div>
                </div>
            </div>
        
        </div>

        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/butterflies.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Butterflies of India</h5>
                        <p class="card-text"> Butterflies of India is a biodiversity platform for butterflies. 
                            The website is developed by the Indian Foundation for Butterflies (iFoundButterflies). The uploaded sightings are reviewed by a bunch of butterfly biologists and naturalists.
                        </p>
                        <br/>
                        <span>Year of initiation - 2009</span>
                        <br/>
                        <span>Project Coordinator - Prof. Krushnamegh Kunte </span>
                        <br/>
                        Website  -<a href="https://www.ifoundbutterflies.org" class="btn btn-primary">https://www.ifoundbutterflies.org</a>
                        <br/>
                        <span>Citizen participation through - Website</span>
                    </div>
                </div>
            </div>
        
        </div>

        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/crocodile.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Charotar Crocodile Count</h5>
                        <p class="card-text"> Charotar Crocodile Count is a citizen science initiative designed by the Voluntary Nature Conservancy (VNC). 
                            The project is initiated to study the distribution and population of mugger crocodiles in the charotar region of Gujarat. 
                        </p>
                        <br>
                        <span>Year of Initiation - 2013</span>
                        <br/>
                        <span>Project Coordinator - Anirudhkumar Vasava </span>
                        <br/>
                        Website -<a href="https://ccc20.vncindia.org/" class="btn btn-primary"> https://ccc20.vncindia.org/</a>
                        <br>
                        <span>Citizen participation through - Paper participation, Website</span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/coimabtorecitybird.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Coimbatore City Bird Atlas</h5>
                        <p class="card-text"> Coimbatore City Bird Atlas is an initiative aimed at understanding the distribution and abundance of birds in the coimbatore city.
                             The technical support for this programme is provided by SACON, Bird Count India and Kerala birders.
                              Field surveys are done by the birders in coimbatore city. 

                        </p>
                        <br>
                        <span>Year of Initiation - 2020</span>
                        <br/>
                        <span>Project coordinator -  Selvaganesh K and Arulvelan T </span>
                        <br/>
                        Website  -<a href="https://coimbatorecitybirdatlas.wordpress.com/" class="btn btn-primary"> https://coimbatorecitybirdatlas.wordpress.com/</a>
                        <br>
                        <span>Citizen participation through - Website, Mobile application</span>
                    </div>
                </div>
            </div>
        </div>
        <br/>

        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/dakshin.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Community Based fisheries programme (CBFM)</h5>
                        <p class="card-text"> This programme addresses the data gaps by collecting information on key fishery variables from Lakshadweep’s pole and line fishers. 
                            This voluntary approach uses monitoring log books and eases the constraints in conventional monitoring. 
                        </p>
                        <br>
                        <span>Year of Initiation - 2014</span>
                        <br/>
                        <span>Project coordinator -  Ishaan Khot </span>
                        <br/>
                        Website -<a href="https://www.dakshin.org/lakshadweep-fisheries/" class="btn btn-primary"> https://www.dakshin.org/lakshadweep-fisheries/</a>
                        <br>
                        <span>
                            Citizen participation through - Paper participation
                        </span>
                    </div>
                </div>
            </div>
        
        </div>


        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/crocwatch.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Croc Watch</h5>
                        <p class="card-text"> This programme depends on the participation of individuals to provide crocodile sightings and other information from India. 
                            You can take part by contributing details about their sighting, breeding status, and other biological data. 
                        </p>
                        <br>
                        <span>Year of Initiation - 2021</span>
                        <br/>
                        <span>Project coordinator -  Anirudhkumar Vasava </span>
                        <br/>
                        Website -<a href="https://cw.vncindia.org/" class="btn btn-primary"> https://cw.vncindia.org/</a>
                        <br>
                        <span>
                            Citizen participation through - Website, Mobile application
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>

        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/Dragonfly.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Dragonfly festival</h5>
                        <p class="card-text"> The Dragonfly Festival was started in 2018 to recognise the importance of dragonflies and damselflies in our ecosystem and to demystify them.
                             The Dragonfly Festival 2021 is being coordinated by WWF India in collaboration with BNHS, UNEP, ZSI, Dragonfly SouthAsia Society, Indian Dragonfly Society, India Biodiversity Portal and MIT-WPU.
                        </p>
                        <br>
                        <span>Year of Initiation - 2018</span>
                        <br/>
                        <span>Project coordinator -  Chetna Kaith </span>
                        <br/>
                        Website -<a href=" http://bio.wwfindia.org/bio-festivals.php" class="btn btn-primary">  http://bio.wwfindia.org/bio-festivals.php</a>
                        <br>
                        <span>
                            Citizen participation through - Website
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>

        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Firefly Watch</h5>
                        <p class="card-text"> This project aims to map and monitor the fireflies of India. 
                            Data collection is based on an online form,  sightings can be entered into the form with the location and the details of the sightings. 
                            The effort eventually creates a map of firefly distribution in India. 
                        </p>
                        <br>
                        <span>Year of Initiation - 2021</span>
                        <br/>
                        <span>Project coordinator -  Sri Ranjni T.S </span>
                        <br/>
                        Website -<a href="https://ee.kobotoolbox.org/x/dksSuVeA" class="btn btn-primary"> https://ee.kobotoolbox.org/x/dksSuVeA</a>
                        <br>
                        <span>
                            Citizen participation through - online forms
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>


        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/FTTI.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Fresh water Turtles and Tortoises of India (FTTI)</h5>
                        <p class="card-text"> FTTI is a group dedicated to the species of Indian freshwater turtles and tortoises. 
                            The programme is run through an umbrella platform, Indian Biodiversity Portal. 
                            For documenting turtles, FTTI offers a platform for students, researchers, and biodiversity enthusiasts.
                        </p>
                        <br>
                        <span>Year of Initiation - 2016</span>
                        <br/>
                        <span>Project coordinator -  Sneha Dharwadkar </span>
                        <br/>
                        Website -<a href=" https://ftti.indiabiodiversity.org/" class="btn btn-primary">  https://ftti.indiabiodiversity.org/</a>
                        <br>
                        <span>
                            Citizen participation through - Website, Mobile application
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>


        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/Harrier.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Harrier Watch</h5>
                        <p class="card-text"> This project aims to monitor the migration pattern, wintering sites, harrier diet and availability of habitats in India.

                        </p>
                        <br>
                        <span>Year of Initiation - 2016</span>
                        <br/>
                        <span>Project coordinator -  Ganesh T </span>
                        <br/>
                        Website -<a href="https://harrierwatch.atree.org/" class="btn btn-primary"> https://harrierwatch.atree.org/</a>
                        <br>
                        <span>
                            Citizen participation through - Website
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>


        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/indianbio.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">India Biodiversity Portal</h5>
                        <p class="card-text">  India Biodiversity Portal aims to collect and provide open access information on Indian biodiversity. 
                            The portal intends to build high-quality map-based multimedia information sources.
                        </p>
                        <br>
                        <span>Year of Initiation - 2008</span>
                        <br/>
                        <span>Project coordinator -  Prabhakar Rajagopal
                        </span>
                        <br/>
                        Website -<a href="https://indiabiodiversity.org/" class="btn btn-primary"> https://indiabiodiversity.org/</a>
                        <br>
                        <span>
                            Citizen participation through - Website, Mobile application
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>


        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/itcan.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Indian Turtle Conservation Action Network</h5>
                        <p class="card-text"> Indian Turtle Conservation Action Network is a consortium of biologists, hobbyists, turtle lovers and organisations dedicated to turtle conservation.
                             Focusing on the public education and awareness of turtles and tortoises this platform helps in collecting the real-time scientific data regarding ecology and distribution of the focal animal. 
                        </p>
                        <br>
                        <span>Year of Initiation - 2018</span>
                        <br/>
                        <span>Project coordinator -  Shailendra Singh </span>
                        <br/>
                        Website -<a href=" https://www.indianturtles.in/" class="btn btn-primary">  https://www.indianturtles.in/</a>
                        <br>
                        <span>
                            Citizen participation through - Website, Mobile application
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>


        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/mammals.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Mammals of India</h5>
                        <p class="card-text"> Mammals of India is a peer-reviewed biodiversity platform that aims to share complete knowledge on mammalian biology, increase natural history observation,
                             collect demographic and distributional data in a consolidated database. 
                        </p>
                        <br>
                        <span>Year of Initiation - 2017</span>
                        <br/>
                        <span>Project coordinator -  Dr. Abhijeet Bayani </span>
                        <br/>
                        Website -<a href="https://www.mammalsofindia.org/" class="btn btn-primary"> https://www.mammalsofindia.org/</a>
                        <br>
                        <span>
                            Citizen participation through - Website
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>

        <h2>upto here</h2>

        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/crocwatch.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Croc Watch</h5>
                        <p class="card-text"> This programme depends on the participation of individuals to provide crocodile sightings and other information from India. 
                            You can take part by contributing details about their sighting, breeding status, and other biological data. 
                        </p>
                        <br>
                        <span>Year of Initiation - 2021</span>
                        <br/>
                        <span>Project coordinator -  Anirudhkumar Vasava </span>
                        <br/>
                        Website -<a href="https://cw.vncindia.org/" class="btn btn-primary"> https://cw.vncindia.org/</a>
                        <br>
                        <span>
                            Citizen participation through - Website, Mobile application
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>

        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/crocwatch.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Croc Watch</h5>
                        <p class="card-text"> This programme depends on the participation of individuals to provide crocodile sightings and other information from India. 
                            You can take part by contributing details about their sighting, breeding status, and other biological data. 
                        </p>
                        <br>
                        <span>Year of Initiation - 2021</span>
                        <br/>
                        <span>Project coordinator -  Anirudhkumar Vasava </span>
                        <br/>
                        Website -<a href="https://cw.vncindia.org/" class="btn btn-primary"> https://cw.vncindia.org/</a>
                        <br>
                        <span>
                            Citizen participation through - Website, Mobile application
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>


        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/crocwatch.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Croc Watch</h5>
                        <p class="card-text"> This programme depends on the participation of individuals to provide crocodile sightings and other information from India. 
                            You can take part by contributing details about their sighting, breeding status, and other biological data. 
                        </p>
                        <br>
                        <span>Year of Initiation - 2021</span>
                        <br/>
                        <span>Project coordinator -  Anirudhkumar Vasava </span>
                        <br/>
                        Website -<a href="https://cw.vncindia.org/" class="btn btn-primary"> https://cw.vncindia.org/</a>
                        <br>
                        <span>
                            Citizen participation through - Website, Mobile application
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>


        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/crocwatch.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Croc Watch</h5>
                        <p class="card-text"> This programme depends on the participation of individuals to provide crocodile sightings and other information from India. 
                            You can take part by contributing details about their sighting, breeding status, and other biological data. 
                        </p>
                        <br>
                        <span>Year of Initiation - 2021</span>
                        <br/>
                        <span>Project coordinator -  Anirudhkumar Vasava </span>
                        <br/>
                        Website -<a href="https://cw.vncindia.org/" class="btn btn-primary"> https://cw.vncindia.org/</a>
                        <br>
                        <span>
                            Citizen participation through - Website, Mobile application
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>


        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/crocwatch.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Croc Watch</h5>
                        <p class="card-text"> This programme depends on the participation of individuals to provide crocodile sightings and other information from India. 
                            You can take part by contributing details about their sighting, breeding status, and other biological data. 
                        </p>
                        <br>
                        <span>Year of Initiation - 2021</span>
                        <br/>
                        <span>Project coordinator -  Anirudhkumar Vasava </span>
                        <br/>
                        Website -<a href="https://cw.vncindia.org/" class="btn btn-primary"> https://cw.vncindia.org/</a>
                        <br>
                        <span>
                            Citizen participation through - Website, Mobile application
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>


        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/crocwatch.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Croc Watch</h5>
                        <p class="card-text"> This programme depends on the participation of individuals to provide crocodile sightings and other information from India. 
                            You can take part by contributing details about their sighting, breeding status, and other biological data. 
                        </p>
                        <br>
                        <span>Year of Initiation - 2021</span>
                        <br/>
                        <span>Project coordinator -  Anirudhkumar Vasava </span>
                        <br/>
                        Website -<a href="https://cw.vncindia.org/" class="btn btn-primary"> https://cw.vncindia.org/</a>
                        <br>
                        <span>
                            Citizen participation through - Website, Mobile application
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>

        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/crocwatch.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Croc Watch</h5>
                        <p class="card-text"> This programme depends on the participation of individuals to provide crocodile sightings and other information from India. 
                            You can take part by contributing details about their sighting, breeding status, and other biological data. 
                        </p>
                        <br>
                        <span>Year of Initiation - 2021</span>
                        <br/>
                        <span>Project coordinator -  Anirudhkumar Vasava </span>
                        <br/>
                        Website -<a href="https://cw.vncindia.org/" class="btn btn-primary"> https://cw.vncindia.org/</a>
                        <br>
                        <span>
                            Citizen participation through - Website, Mobile application
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>



    </div>
</div>



{% endblock %}