{% extends "base.html" %}
{% load static %}

{% block page_content %}
<style>
    .row {
  display: grid;
  grid-auto-flow: column;
  gap: 5%;
}

</style>
<div class="container-fluid">
    <div class="container">
        <h3>Some of the major citizen science projects running in India are mentioned here. You can access each project with the link provided: </h3>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/AMP.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Amphibians of India</h5>
                        <p class="card-text"> Amphibians of India is a platform/project developed by Indian Foundation for Butterflies (“IFoundButterflies”). This platform imparts knowledge on distribution, endemicity and biology of amphibians in India. You can study the natural history, observe and collect data on amphibians in India using this website. 
                            Year of initiation - 2017
                        </p>
                        <span>Project coordinator -  Ninad Gosavi </span>
                        <br/>
                        Link -<a href="https://www.indianamphibians.org/home" class="btn btn-primary"> https://www.indianamphibians.org/home</a>
                    </div>
                </div>
            </div>
        
        </div>
    


        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/bbc.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Bihu Bird Count</h5>
                        <p class="card-text"> Bihu Bird Count (BBC) is run by birders in Assam (Assam Bird Monitoring Network). 
                            The project began in January 2021. For each of the three Bihus, the Assam Bird Monitoring Network plans to conduct bird counts. 
                            All of these programmes centre on watching and counting wild birds throughout the year. The network also wants to encourage people to associate 
                            the celebration with nature. 

                        </p>
                        <span>Year of initiation - 2020</span><br/>
                        <span>Project coordinator - Jaydev Mandal, Rupam Bhaduri And Leons Abraham Mathew</span>
                            
                        
                        <br/>
                        E-mail Address: <a href="mailto: bihubirdcount@gmail.com" > bihubirdcount@gmail.com </a>
                    </div>
                </div>
            </div>
        
        </div>

        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/atlas.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Biodiversity Atlas</h5>
                        <p class="card-text"> India - This natural history web platform provides species based data on biodiversity. 
                            The data you contribute will be peer reviewed by professional biologists. This website mostly provides natural history data which drives
                             educational and outreach programmes. 

                        </p>
                        <span>Year of initiation - 2017 </span>
                        <br/>
                        <span>Project Coordinator - Prof. Krushnamegh Kunte </span>
                        <br/>
                        Citizen participation through - Website
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/biochennai.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Biodiversity of Chennai</h5>
                        <p class="card-text"> 
                            This is an inaturalist project, which is based on chennai and its outskirts. The citizens of chennai can submit their data on birds, butterflies, fungi, insects etc through inaturalist platform. 

                        </p>
                        <br/>
                        <span>
                            Year of initiation - 2019
                        </span>
                        <span>Project Coordinator - Vikas Madhav Nagarajan </span>
                        <br/>
                        Website -<a href="https://www.inaturalist.org/projects/" class="btn btn-primary"> https://www.inaturalist.org/projects/</a>
                        <br/>
                        <span>
                            Citizen participation through - Website, Mobile application
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/birdcount.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Bird Count India</h5>
                        <p class="card-text"> 
                            Bird Count India is an informal partnership of organisations and groups working together to increase collective knowledge about bird distributions and populations.
                             The project focuses on documenting the diversity and distribution of Indian birds. 
                        </p>
                        <br/>
                        <span>Year of initiation - 2014</span>
                        <br/>
                        <span>Project Coordinator - Mittal Gala </span>
                        <br/>
                        Website -<a href="https://birdcount.in/" class="btn btn-primary"> https://birdcount.in/</a>
                    </div>
                </div>
            </div>
        
        </div>

        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/butterflies.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Butterflies of India</h5>
                        <p class="card-text"> Butterflies of India is a biodiversity platform for butterflies. 
                            The website is developed by the Indian Foundation for Butterflies (iFoundButterflies). The uploaded sightings are reviewed by a bunch of butterfly biologists and naturalists.
                        </p>
                        <br/>
                        <span>Year of initiation - 2009</span>
                        <br/>
                        <span>Project Coordinator - Prof. Krushnamegh Kunte </span>
                        <br/>
                        Website  -<a href="https://www.ifoundbutterflies.org" class="btn btn-primary">https://www.ifoundbutterflies.org</a>
                        <br/>
                        <span>Citizen participation through - Website</span>
                    </div>
                </div>
            </div>
        
        </div>

        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/crocodile.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Charotar Crocodile Count</h5>
                        <p class="card-text"> Charotar Crocodile Count is a citizen science initiative designed by the Voluntary Nature Conservancy (VNC). 
                            The project is initiated to study the distribution and population of mugger crocodiles in the charotar region of Gujarat. 
                        </p>
                        <br>
                        <span>Year of Initiation - 2013</span>
                        <br/>
                        <span>Project Coordinator - Anirudhkumar Vasava </span>
                        <br/>
                        Website -<a href="https://ccc20.vncindia.org/" class="btn btn-primary"> https://ccc20.vncindia.org/</a>
                        <br>
                        <span>Citizen participation through - Paper participation, Website</span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/coimabtorecitybird.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Coimbatore City Bird Atlas</h5>
                        <p class="card-text"> Coimbatore City Bird Atlas is an initiative aimed at understanding the distribution and abundance of birds in the coimbatore city.
                             The technical support for this programme is provided by SACON, Bird Count India and Kerala birders.
                              Field surveys are done by the birders in coimbatore city. 

                        </p>
                        <br>
                        <span>Year of Initiation - 2020</span>
                        <br/>
                        <span>Project coordinator -  Selvaganesh K and Arulvelan T </span>
                        <br/>
                        Website  -<a href="https://coimbatorecitybirdatlas.wordpress.com/" class="btn btn-primary"> https://coimbatorecitybirdatlas.wordpress.com/</a>
                        <br>
                        <span>Citizen participation through - Website, Mobile application</span>
                    </div>
                </div>
            </div>
        </div>
        <br/>

        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/dakshin.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Community Based fisheries programme (CBFM)</h5>
                        <p class="card-text"> This programme addresses the data gaps by collecting information on key fishery variables from Lakshadweep’s pole and line fishers. 
                            This voluntary approach uses monitoring log books and eases the constraints in conventional monitoring. 
                        </p>
                        <br>
                        <span>Year of Initiation - 2014</span>
                        <br/>
                        <span>Project coordinator -  Ishaan Khot </span>
                        <br/>
                        Website -<a href="https://www.dakshin.org/lakshadweep-fisheries/" class="btn btn-primary"> https://www.dakshin.org/lakshadweep-fisheries/</a>
                        <br>
                        <span>
                            Citizen participation through - Paper participation
                        </span>
                    </div>
                </div>
            </div>
        
        </div>


        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/crocwatch.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Croc Watch</h5>
                        <p class="card-text"> This programme depends on the participation of individuals to provide crocodile sightings and other information from India. 
                            You can take part by contributing details about their sighting, breeding status, and other biological data. 
                        </p>
                        <br>
                        <span>Year of Initiation - 2021</span>
                        <br/>
                        <span>Project coordinator -  Anirudhkumar Vasava </span>
                        <br/>
                        Website -<a href="https://cw.vncindia.org/" class="btn btn-primary"> https://cw.vncindia.org/</a>
                        <br>
                        <span>
                            Citizen participation through - Website, Mobile application
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>

        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/Dragonfly.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Dragonfly festival</h5>
                        <p class="card-text"> The Dragonfly Festival was started in 2018 to recognise the importance of dragonflies and damselflies in our ecosystem and to demystify them.
                             The Dragonfly Festival 2021 is being coordinated by WWF India in collaboration with BNHS, UNEP, ZSI, Dragonfly SouthAsia Society, Indian Dragonfly Society, India Biodiversity Portal and MIT-WPU.
                        </p>
                        <br>
                        <span>Year of Initiation - 2018</span>
                        <br/>
                        <span>Project coordinator -  Chetna Kaith </span>
                        <br/>
                        Website -<a href=" http://bio.wwfindia.org/bio-festivals.php" class="btn btn-primary">  http://bio.wwfindia.org/bio-festivals.php</a>
                        <br>
                        <span>
                            Citizen participation through - Website
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>

        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Firefly Watch</h5>
                        <p class="card-text"> This project aims to map and monitor the fireflies of India. 
                            Data collection is based on an online form,  sightings can be entered into the form with the location and the details of the sightings. 
                            The effort eventually creates a map of firefly distribution in India. 
                        </p>
                        <br>
                        <span>Year of Initiation - 2021</span>
                        <br/>
                        <span>Project coordinator -  Sri Ranjni T.S </span>
                        <br/>
                        Website -<a href="https://ee.kobotoolbox.org/x/dksSuVeA" class="btn btn-primary"> https://ee.kobotoolbox.org/x/dksSuVeA</a>
                        <br>
                        <span>
                            Citizen participation through - online forms
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>


        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/FTTI.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Fresh water Turtles and Tortoises of India (FTTI)</h5>
                        <p class="card-text"> FTTI is a group dedicated to the species of Indian freshwater turtles and tortoises. 
                            The programme is run through an umbrella platform, Indian Biodiversity Portal. 
                            For documenting turtles, FTTI offers a platform for students, researchers, and biodiversity enthusiasts.
                        </p>
                        <br>
                        <span>Year of Initiation - 2016</span>
                        <br/>
                        <span>Project coordinator -  Sneha Dharwadkar </span>
                        <br/>
                        Website -<a href=" https://ftti.indiabiodiversity.org/" class="btn btn-primary">  https://ftti.indiabiodiversity.org/</a>
                        <br>
                        <span>
                            Citizen participation through - Website, Mobile application
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>


        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/Harrier.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Harrier Watch</h5>
                        <p class="card-text"> This project aims to monitor the migration pattern, wintering sites, harrier diet and availability of habitats in India.

                        </p>
                        <br>
                        <span>Year of Initiation - 2016</span>
                        <br/>
                        <span>Project coordinator -  Ganesh T </span>
                        <br/>
                        Website -<a href="https://harrierwatch.atree.org/" class="btn btn-primary"> https://harrierwatch.atree.org/</a>
                        <br>
                        <span>
                            Citizen participation through - Website
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>


        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/indianbio.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">India Biodiversity Portal</h5>
                        <p class="card-text">  India Biodiversity Portal aims to collect and provide open access information on Indian biodiversity. 
                            The portal intends to build high-quality map-based multimedia information sources.
                        </p>
                        <br>
                        <span>Year of Initiation - 2008</span>
                        <br/>
                        <span>Project coordinator -  Prabhakar Rajagopal
                        </span>
                        <br/>
                        Website -<a href="https://indiabiodiversity.org/" class="btn btn-primary"> https://indiabiodiversity.org/</a>
                        <br>
                        <span>
                            Citizen participation through - Website, Mobile application
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>


        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/itcan.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Indian Turtle Conservation Action Network</h5>
                        <p class="card-text"> Indian Turtle Conservation Action Network is a consortium of biologists, hobbyists, turtle lovers and organisations dedicated to turtle conservation.
                             Focusing on the public education and awareness of turtles and tortoises this platform helps in collecting the real-time scientific data regarding ecology and distribution of the focal animal. 
                        </p>
                        <br>
                        <span>Year of Initiation - 2018</span>
                        <br/>
                        <span>Project coordinator -  Shailendra Singh </span>
                        <br/>
                        Website -<a href=" https://www.indianturtles.in/" class="btn btn-primary">  https://www.indianturtles.in/</a>
                        <br>
                        <span>
                            Citizen participation through - Website, Mobile application
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>


        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/mammals.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Mammals of India</h5>
                        <p class="card-text"> Mammals of India is a peer-reviewed biodiversity platform that aims to share complete knowledge on mammalian biology, increase natural history observation,
                             collect demographic and distributional data in a consolidated database. 
                        </p>
                        <br>
                        <span>Year of Initiation - 2017</span>
                        <br/>
                        <span>Project coordinator -  Dr. Abhijeet Bayani </span>
                        <br/>
                        Website -<a href="https://www.mammalsofindia.org/" class="btn btn-primary"> https://www.mammalsofindia.org/</a>
                        <br>
                        <span>
                            Citizen participation through - Website
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>

       

        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/miap.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Mapping Invasive Alien Plants</h5>
                        <p class="card-text"> The goal of this research is to map the distribution of invasive plants and raise public awareness about invasive alien species 
                            and their possible ecological and socioeconomic implications. 
                        </p>
                        <br>
                        <span>Year of Initiation - 2021</span>
                        <br/>
                        <span>Project coordinator -  Reshnu Raj R S </span>
                        <br/>
                        Website -<a href="http://miap.atree.org/" class="btn btn-primary"> http://miap.atree.org/</a>
                        <br>
                        <span>
                            Citizen participation through - Mobile application
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/marinelife.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Marine Life of Mumbai</h5>
                        <p class="card-text"> Marine Life of Mumbai (MLOM) aims to document the marine biodiversity along the shores of mumbai.
                             Also aims to protect the species from further developments. 
                        </p>
                        <br>
                        <span>Year of Initiation - 2017</span>
                        <br/>
                        <span>Project coordinator -  Shaunak Modi </span>
                        <br/>
                        Website -<a href="http://www.marinelifeofmumbai.in/" class="btn btn-primary"> http://www.marinelifeofmumbai.in/</a>
                        <br>
                        <span>
                            Citizen participation through - Website, Other
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>

        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/migrantwatch.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">MigrantWatch</h5>
                        <p class="card-text"> Migrant watch helps birdwatchers to understand the migrating patterns of birds from different countries. Over the 7 years that the project was operational, it collected over 30,000 records of migratory birds.
                            
                            In 2014, it was closed, and all data uploaded to the eBird-India platform, where it remains available for download and exploration.  
                        </p>
                        <br>
                        <span>Year of Initiation - 2007</span>
                        <br/>
                        <span>Project coordinator -  Suhel Quader </span>
                        <br/>
                        Website -<a href="https://migrantwatch.in/" class="btn btn-primary"> https://migrantwatch.in/</a>
                        <br>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>

        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/moths.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Moths of India</h5>
                        <p class="card-text"> Moths of India is a peer-reviewed biodiversity platform that aims to collect and share information on natural history, demography and distribution.
                        </p>
                        <br>
                        <span>Year of Initiation - 2015</span>
                        <br/>
                        <span>Project coordinator -  Sanjay Sondhi </span>
                        <br/>
                        Website -<a href="https://www.mothsofindia.org/" class="btn btn-primary"> https://www.mothsofindia.org/</a>
                        <br>
                        <span>
                            Citizen participation through - Website
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>


        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/nationalmoth.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">National Moth Week - India</h5>
                        <p class="card-text"> National moth week is a global citizen science programme where citizens can contribute scientific data about moths. 
                            The data can be uploaded through websites and also with mobile applications. 
                        </p>
                        <br>
                        <span>Year of Initiation - 2011</span>
                        <br/>
                        <span>Project coordinator -  Pritha Dey </span>
                        <br/>
                        Website -<a href="https://nationalmothweek.org/" class="btn btn-primary"> https://nationalmothweek.org/</a>
                        <br>
                        <span>
                            Citizen participation through - Website, Mobile application
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
  

        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/odonata.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Odonata of India</h5>
                        <p class="card-text"> Odonata of India is a peer-reviewed biodiversity platform that aims to collect and share data about odonata biology, distribution, population and ecology. 
                        </p>
                        <br>
                        <span>Year of Initiation - 2014</span>
                        <br/>
                        <span>Project coordinator -  Shantanu Joshi </span>
                        <br/>
                        Website -<a href="https://www.indianodonata.org/" class="btn btn-primary"> https://www.indianodonata.org/</a>
                        <br>
                        <span>
                            Citizen participation through - Website
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>

        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/pongal.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Pongal Bird Count </h5>
                        <p class="card-text"> Pongal Bird Count is a citizen science initiative developed by Tamil Nadu Birders Network. 
                            This programme conducts annual bird monitoring in parallel with the pongal festival.
                             The programme helps to get an idea of bird population in Tamil Nadu. 
                        </p>
                        <br>
                        <span>Year of Initiation - 2015</span>
                        <br/>
                        <span>Project coordinator -  Jeganathan Panchapakesan </span>
                        <br/>
                        Website -<a href="https://birdcount.in/events/regional/pongal-bird-count/" class="btn btn-primary"> https://birdcount.in/events/regional/pongal-bird-count/</a>
                        <br>
                        <span>
                            Citizen participation through - Website, Mobile application
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>        
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/reef.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Reeflog</h5>
                        <p class="card-text"> Reeflog is a citizen science programme for scuba divers in India to survey marine habitats by collaborating with the diving tourism sector 
                            to monitor important species population and behavioural connections across diverse geographies and ecosystems.
                        </p>
                        <br>
                        <span>Year of Initiation - 2016</span>
                        <br/>
                        <span>Project coordinator -  Suneha Jagannathan </span>
                        <br/>
                        Website -<a href="http://reeflog.org/" class="btn btn-primary"> http://reeflog.org/</a>
                        <br>
                        <span>
                            Citizen participation through - Website
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
     
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/reptiles.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Reptiles of India</h5>
                        <p class="card-text"> Reptiles of India is a citizen science platform for biodiversity informatics,research, outreach and conservation of Indian reptiles. 
                            This website aims to provide peer-reviewed and open resource data on ecology, population and distribution of Indian reptiles.
                        </p>
                        <br>
                        <span>Year of Initiation - 2017</span>
                        <br/>
                        <span>Project coordinator -  Arjun Kamdar </span>
                        <br/>
                        Website -<a href="https://www.indianreptiles.org/" class="btn btn-primary"> https://www.indianreptiles.org/</a>
                        <br>
                        <span>
                            Citizen participation through - Website
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/seasonwatch.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">SeasonWatch</h5>
                        <p class="card-text"> SeasonWatch is a citizen science initiative that aims to explore the seasonality of common tropical trees in India through time,
                             and hence the relationship between seasonality and climate change. The data collected on the trees will provide us a baseline data on the seasonality patterns. 

                        </p>
                        <br>
                        <span>Year of Initiation - 2010</span>
                        <br/>
                        <span>Project coordinator -  Geetha Ramaswami </span>
                        <br/>
                        Website -<a href="https://www.seasonwatch.in/" class="btn btn-primary"> https://www.seasonwatch.in/</a>
                        <br>
                        <span>
                            Citizen participation through - Paper participation, Website, Mobile application
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>

        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/upl.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">UPL Sarus Conservation Project</h5>
                        <p class="card-text">The United Phosphorus Limited Sarus Conservation Project was launched in Gujarat, with the goal of documenting the species' status in the districts of Kheda 
                            and Anand, as well as identifying important roosting, breeding, and congregation sites in these areas, and investigating threats to this species and its habitats.
                        </p>
                        <br>
                        <span>Year of Initiation - 2015</span>
                        <br/>
                        <span>Project coordinator -  Jatinder Kaur </span>
                        <br/>
                        <span>
                            Citizen participation through - Paper participation, Website, Mobile application
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>

        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/wild.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Wild Canids- India Project</h5>
                        <p class="card-text"> The Wild Canids-India Project aims to study the ecological and conservation status of wild canids in India. 
                            The initiative focuses on the following wild canid species and subspecies: dhole, golden jackal, Indian wolf, Tibetan wolf, Indian fox, red fox, desert fox, and Tibetan fox. 
                        </p>
                        <br>
                        <span>Year of Initiation - 2018</span>
                        <br/>
                        <span>Project coordinator -  Iravatee Majgaonkar </span>
                        <br/>
                        Website -<a href="https://www.wildcanids.net/" class="btn btn-primary"> https://www.wildcanids.net/</a>
                        <br>
                        <span>
                            Citizen participation through - Website
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                       
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">BIG 4 Mapping Project</h5>
                        <p class="card-text"> BIG 4 Mapping Project is a citizen science initiative started by the Indian snake bite initiative, a chapter of the global snakebite initiative. 
                            The  aim of the programme is to reduce snakebite mortality by 50% across India by 2030. 
                            Citizens can upload the images that have been clicked at the moment, creating a distribution map of selected species.
                        </p>
                        <br>

                        Website -<a href="http://snakebiteinitiative.in/snake/" class="btn btn-primary"> http://snakebiteinitiative.in/snake/</a>
                        <br>
                        <span>
                            Citizen participation through - Mobile application
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>

        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                      
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Citizen Sparrow</h5>
                        <p class="card-text"> To observe the distribution and change in sparrow population Bombay Natural History Society (BNHS) initiated a citizen science project named citizen sparrow.
                        </p>
                        <br>

                        Website -<a href="http://www.citizensparrow.in/" class="btn btn-primary"> http://www.citizensparrow.in/</a>
                        <br>

                    </div>
                </div>
            </div>
        
        </div>
        <br/>

        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Common Bird monitoring Project</h5>
                        <p class="card-text"> The objective of the programme is to involve more people to engage in observing their backyard birds or their locality. 
                            The programme helps to monitor the trends in bird populations. 
                        </p>
                        <br>

                    </div>
                </div>
            </div>
        
        </div>
        <br/>

        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/hornbill.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Hornbill watch</h5>
                        <p class="card-text"> This citizen science initiative allows people to participate and help record the nine species of hornbills found in India.
                             Recorded sightings will be used to study distribution and habitat preference of each species 
                        </p>
                        <br>

                        Website -<a href="https://www.hornbills.in/upload.php" class="btn btn-primary"> https://www.hornbills.in/upload.php</a>
                        <br>
                        <span>
                            Citizen participation through - Website
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>

        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                       
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Roadkill India</h5>
                        <p class="card-text"> Roadkill is a citizen science initiative to collect data on roadkills of wild animals on roads, irrigation canals or railway lines in India. 
                            The data on roadkills submitted to the website is available through the map.
                             To access the detailed data, the user needs to write to roadkills.india@gmail.com , the data will be shared under a creative commons licence.  
                        </p>
                        <br>

                        Website -<a href="http://www.roadkills.in" class="btn btn-primary"> http://www.roadkills.in</a>
                        <br>

                    </div>
                </div>
            </div>
        
        </div>
        <br/>

    </div>
</div>



{% endblock %}