{% extends "base.html" %}
{% load static %}

{% block page_content %}
<style>
    .row {
  display: grid;
  grid-auto-flow: column;
  gap: 5%;
}

</style>
<div class="container-fluid">
    <div class="container">
        <h3>Some of the major citizen science projects running in India are mentioned here. You can access each project with the link provided: </h3>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/AMP.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Amphibians of India</h5>
                        <p class="card-text"> Amphibians of India is a platform/project developed by Indian Foundation for Butterflies (“IFoundButterflies”). This platform imparts knowledge on distribution, endemicity and biology of amphibians in India. You can study the natural history, observe and collect data on amphibians in India using this website. 
                            Year of initiation - 2017
                        </p>
                        <span>Project coordinator -  Ninad Gosavi </span>
                        <br/>
                        Link -<a href="https://www.indianamphibians.org/home" class="btn btn-primary"> https://www.indianamphibians.org/home</a>
                    </div>
                </div>
            </div>
        
        </div>
    


        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/bbc.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Bihu Bird Count</h5>
                        <p class="card-text"> Bihu Bird Count (BBC) is run by birders in Assam (Assam Bird Monitoring Network). 
                            The project began in January 2021. For each of the three Bihus, the Assam Bird Monitoring Network plans to conduct bird counts. 
                            All of these programmes centre on watching and counting wild birds throughout the year. The network also wants to encourage people to associate 
                            the celebration with nature. 

                        </p>
                        <span>Year of initiation - 2020</span><br/>
                        <span>Project coordinator - Jaydev Mandal, Rupam Bhaduri And Leons Abraham Mathew</span>
                            
                        
                        <br/>
                        E-mail Address: <a href="mailto: bihubirdcount@gmail.com" > bihubirdcount@gmail.com </a>
                    </div>
                </div>
            </div>
        
        </div>

        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/atlas.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Biodiversity Atlas</h5>
                        <p class="card-text"> India - This natural history web platform provides species based data on biodiversity. 
                            The data you contribute will be peer reviewed by professional biologists. This website mostly provides natural history data which drives
                             educational and outreach programmes. 

                        </p>
                        <span>Year of initiation - 2017 </span>
                        <br/>
                        <span>Project Coordinator - Prof. Krushnamegh Kunte </span>
                        <br/>
                        Citizen participation through - Website
                    </div>
                </div>
            </div>
        
        </div>
<h2>upto here</h2>


        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/AMP.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Amphibians of India</h5>
                        <p class="card-text"> Amphibians of India is a platform/project developed by Indian Foundation for Butterflies (“IFoundButterflies”). This platform imparts knowledge on distribution, endemicity and biology of amphibians in India. You can study the natural history, observe and collect data on amphibians in India using this website. 
                            Year of initiation - 2017
                        </p>
                        <span>Project coordinator -  Ninad Gosavi </span>
                        <br/>
                        Link -<a href="https://www.indianamphibians.org/home" class="btn btn-primary"> https://www.indianamphibians.org/home</a>
                    </div>
                </div>
            </div>
        
        </div>



        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/AMP.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Amphibians of India</h5>
                        <p class="card-text"> Amphibians of India is a platform/project developed by Indian Foundation for Butterflies (“IFoundButterflies”). This platform imparts knowledge on distribution, endemicity and biology of amphibians in India. You can study the natural history, observe and collect data on amphibians in India using this website. 
                            Year of initiation - 2017
                        </p>
                        <span>Project coordinator -  Ninad Gosavi </span>
                        <br/>
                        Link -<a href="https://www.indianamphibians.org/home" class="btn btn-primary"> https://www.indianamphibians.org/home</a>
                    </div>
                </div>
            </div>
        
        </div>


        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/AMP.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Amphibians of India</h5>
                        <p class="card-text"> Amphibians of India is a platform/project developed by Indian Foundation for Butterflies (“IFoundButterflies”). This platform imparts knowledge on distribution, endemicity and biology of amphibians in India. You can study the natural history, observe and collect data on amphibians in India using this website. 
                            Year of initiation - 2017
                        </p>
                        <span>Project coordinator -  Ninad Gosavi </span>
                        <br/>
                        Link -<a href="https://www.indianamphibians.org/home" class="btn btn-primary"> https://www.indianamphibians.org/home</a>
                    </div>
                </div>
            </div>
        
        </div>

        
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/AMP.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Amphibians of India</h5>
                        <p class="card-text"> Amphibians of India is a platform/project developed by Indian Foundation for Butterflies (“IFoundButterflies”). This platform imparts knowledge on distribution, endemicity and biology of amphibians in India. You can study the natural history, observe and collect data on amphibians in India using this website. 
                            Year of initiation - 2017
                        </p>
                        <span>Project coordinator -  Ninad Gosavi </span>
                        <br/>
                        Link -<a href="https://www.indianamphibians.org/home" class="btn btn-primary"> https://www.indianamphibians.org/home</a>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/AMP.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Amphibians of India</h5>
                        <p class="card-text"> Amphibians of India is a platform/project developed by Indian Foundation for Butterflies (“IFoundButterflies”). This platform imparts knowledge on distribution, endemicity and biology of amphibians in India. You can study the natural history, observe and collect data on amphibians in India using this website. 
                            Year of initiation - 2017
                        </p>
                        <span>Project coordinator -  Ninad Gosavi </span>
                        <br/>
                        Link -<a href="https://www.indianamphibians.org/home" class="btn btn-primary"> https://www.indianamphibians.org/home</a>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/AMP.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Amphibians of India</h5>
                        <p class="card-text"> Amphibians of India is a platform/project developed by Indian Foundation for Butterflies (“IFoundButterflies”). This platform imparts knowledge on distribution, endemicity and biology of amphibians in India. You can study the natural history, observe and collect data on amphibians in India using this website. 
                            Year of initiation - 2017
                        </p>
                        <span>Project coordinator -  Ninad Gosavi </span>
                        <br/>
                        Link -<a href="https://www.indianamphibians.org/home" class="btn btn-primary"> https://www.indianamphibians.org/home</a>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/AMP.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Amphibians of India</h5>
                        <p class="card-text"> Amphibians of India is a platform/project developed by Indian Foundation for Butterflies (“IFoundButterflies”). This platform imparts knowledge on distribution, endemicity and biology of amphibians in India. You can study the natural history, observe and collect data on amphibians in India using this website. 
                            Year of initiation - 2017
                        </p>
                        <span>Project coordinator -  Ninad Gosavi </span>
                        <br/>
                        Link -<a href="https://www.indianamphibians.org/home" class="btn btn-primary"> https://www.indianamphibians.org/home</a>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/AMP.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Amphibians of India</h5>
                        <p class="card-text"> Amphibians of India is a platform/project developed by Indian Foundation for Butterflies (“IFoundButterflies”). This platform imparts knowledge on distribution, endemicity and biology of amphibians in India. You can study the natural history, observe and collect data on amphibians in India using this website. 
                            Year of initiation - 2017
                        </p>
                        <span>Project coordinator -  Ninad Gosavi </span>
                        <br/>
                        Link -<a href="https://www.indianamphibians.org/home" class="btn btn-primary"> https://www.indianamphibians.org/home</a>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/AMP.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Amphibians of India</h5>
                        <p class="card-text"> Amphibians of India is a platform/project developed by Indian Foundation for Butterflies (“IFoundButterflies”). This platform imparts knowledge on distribution, endemicity and biology of amphibians in India. You can study the natural history, observe and collect data on amphibians in India using this website. 
                            Year of initiation - 2017
                        </p>
                        <span>Project coordinator -  Ninad Gosavi </span>
                        <br/>
                        Link -<a href="https://www.indianamphibians.org/home" class="btn btn-primary"> https://www.indianamphibians.org/home</a>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/AMP.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Amphibians of India</h5>
                        <p class="card-text"> Amphibians of India is a platform/project developed by Indian Foundation for Butterflies (“IFoundButterflies”). This platform imparts knowledge on distribution, endemicity and biology of amphibians in India. You can study the natural history, observe and collect data on amphibians in India using this website. 
                            Year of initiation - 2017
                        </p>
                        <span>Project coordinator -  Ninad Gosavi </span>
                        <br/>
                        Link -<a href="https://www.indianamphibians.org/home" class="btn btn-primary"> https://www.indianamphibians.org/home</a>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/AMP.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Amphibians of India</h5>
                        <p class="card-text"> Amphibians of India is a platform/project developed by Indian Foundation for Butterflies (“IFoundButterflies”). This platform imparts knowledge on distribution, endemicity and biology of amphibians in India. You can study the natural history, observe and collect data on amphibians in India using this website. 
                            Year of initiation - 2017
                        </p>
                        <span>Project coordinator -  Ninad Gosavi </span>
                        <br/>
                        Link -<a href="https://www.indianamphibians.org/home" class="btn btn-primary"> https://www.indianamphibians.org/home</a>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/AMP.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Amphibians of India</h5>
                        <p class="card-text"> Amphibians of India is a platform/project developed by Indian Foundation for Butterflies (“IFoundButterflies”). This platform imparts knowledge on distribution, endemicity and biology of amphibians in India. You can study the natural history, observe and collect data on amphibians in India using this website. 
                            Year of initiation - 2017
                        </p>
                        <span>Project coordinator -  Ninad Gosavi </span>
                        <br/>
                        Link -<a href="https://www.indianamphibians.org/home" class="btn btn-primary"> https://www.indianamphibians.org/home</a>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/AMP.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Amphibians of India</h5>
                        <p class="card-text"> Amphibians of India is a platform/project developed by Indian Foundation for Butterflies (“IFoundButterflies”). This platform imparts knowledge on distribution, endemicity and biology of amphibians in India. You can study the natural history, observe and collect data on amphibians in India using this website. 
                            Year of initiation - 2017
                        </p>
                        <span>Project coordinator -  Ninad Gosavi </span>
                        <br/>
                        Link -<a href="https://www.indianamphibians.org/home" class="btn btn-primary"> https://www.indianamphibians.org/home</a>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/AMP.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Amphibians of India</h5>
                        <p class="card-text"> Amphibians of India is a platform/project developed by Indian Foundation for Butterflies (“IFoundButterflies”). This platform imparts knowledge on distribution, endemicity and biology of amphibians in India. You can study the natural history, observe and collect data on amphibians in India using this website. 
                            Year of initiation - 2017
                        </p>
                        <span>Project coordinator -  Ninad Gosavi </span>
                        <br/>
                        Link -<a href="https://www.indianamphibians.org/home" class="btn btn-primary"> https://www.indianamphibians.org/home</a>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/AMP.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Amphibians of India</h5>
                        <p class="card-text"> Amphibians of India is a platform/project developed by Indian Foundation for Butterflies (“IFoundButterflies”). This platform imparts knowledge on distribution, endemicity and biology of amphibians in India. You can study the natural history, observe and collect data on amphibians in India using this website. 
                            Year of initiation - 2017
                        </p>
                        <span>Project coordinator -  Ninad Gosavi </span>
                        <br/>
                        Link -<a href="https://www.indianamphibians.org/home" class="btn btn-primary"> https://www.indianamphibians.org/home</a>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/AMP.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Amphibians of India</h5>
                        <p class="card-text"> Amphibians of India is a platform/project developed by Indian Foundation for Butterflies (“IFoundButterflies”). This platform imparts knowledge on distribution, endemicity and biology of amphibians in India. You can study the natural history, observe and collect data on amphibians in India using this website. 
                            Year of initiation - 2017
                        </p>
                        <span>Project coordinator -  Ninad Gosavi </span>
                        <br/>
                        Link -<a href="https://www.indianamphibians.org/home" class="btn btn-primary"> https://www.indianamphibians.org/home</a>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/AMP.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Amphibians of India</h5>
                        <p class="card-text"> Amphibians of India is a platform/project developed by Indian Foundation for Butterflies (“IFoundButterflies”). This platform imparts knowledge on distribution, endemicity and biology of amphibians in India. You can study the natural history, observe and collect data on amphibians in India using this website. 
                            Year of initiation - 2017
                        </p>
                        <span>Project coordinator -  Ninad Gosavi </span>
                        <br/>
                        Link -<a href="https://www.indianamphibians.org/home" class="btn btn-primary"> https://www.indianamphibians.org/home</a>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/AMP.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Amphibians of India</h5>
                        <p class="card-text"> Amphibians of India is a platform/project developed by Indian Foundation for Butterflies (“IFoundButterflies”). This platform imparts knowledge on distribution, endemicity and biology of amphibians in India. You can study the natural history, observe and collect data on amphibians in India using this website. 
                            Year of initiation - 2017
                        </p>
                        <span>Project coordinator -  Ninad Gosavi </span>
                        <br/>
                        Link -<a href="https://www.indianamphibians.org/home" class="btn btn-primary"> https://www.indianamphibians.org/home</a>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/AMP.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Amphibians of India</h5>
                        <p class="card-text"> Amphibians of India is a platform/project developed by Indian Foundation for Butterflies (“IFoundButterflies”). This platform imparts knowledge on distribution, endemicity and biology of amphibians in India. You can study the natural history, observe and collect data on amphibians in India using this website. 
                            Year of initiation - 2017
                        </p>
                        <span>Project coordinator -  Ninad Gosavi </span>
                        <br/>
                        Link -<a href="https://www.indianamphibians.org/home" class="btn btn-primary"> https://www.indianamphibians.org/home</a>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/AMP.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Amphibians of India</h5>
                        <p class="card-text"> Amphibians of India is a platform/project developed by Indian Foundation for Butterflies (“IFoundButterflies”). This platform imparts knowledge on distribution, endemicity and biology of amphibians in India. You can study the natural history, observe and collect data on amphibians in India using this website. 
                            Year of initiation - 2017
                        </p>
                        <span>Project coordinator -  Ninad Gosavi </span>
                        <br/>
                        Link -<a href="https://www.indianamphibians.org/home" class="btn btn-primary"> https://www.indianamphibians.org/home</a>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/AMP.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Amphibians of India</h5>
                        <p class="card-text"> Amphibians of India is a platform/project developed by Indian Foundation for Butterflies (“IFoundButterflies”). This platform imparts knowledge on distribution, endemicity and biology of amphibians in India. You can study the natural history, observe and collect data on amphibians in India using this website. 
                            Year of initiation - 2017
                        </p>
                        <span>Project coordinator -  Ninad Gosavi </span>
                        <br/>
                        Link -<a href="https://www.indianamphibians.org/home" class="btn btn-primary"> https://www.indianamphibians.org/home</a>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/AMP.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Amphibians of India</h5>
                        <p class="card-text"> Amphibians of India is a platform/project developed by Indian Foundation for Butterflies (“IFoundButterflies”). This platform imparts knowledge on distribution, endemicity and biology of amphibians in India. You can study the natural history, observe and collect data on amphibians in India using this website. 
                            Year of initiation - 2017
                        </p>
                        <span>Project coordinator -  Ninad Gosavi </span>
                        <br/>
                        Link -<a href="https://www.indianamphibians.org/home" class="btn btn-primary"> https://www.indianamphibians.org/home</a>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/AMP.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Amphibians of India</h5>
                        <p class="card-text"> Amphibians of India is a platform/project developed by Indian Foundation for Butterflies (“IFoundButterflies”). This platform imparts knowledge on distribution, endemicity and biology of amphibians in India. You can study the natural history, observe and collect data on amphibians in India using this website. 
                            Year of initiation - 2017
                        </p>
                        <span>Project coordinator -  Ninad Gosavi </span>
                        <br/>
                        Link -<a href="https://www.indianamphibians.org/home" class="btn btn-primary"> https://www.indianamphibians.org/home</a>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/AMP.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Amphibians of India</h5>
                        <p class="card-text"> Amphibians of India is a platform/project developed by Indian Foundation for Butterflies (“IFoundButterflies”). This platform imparts knowledge on distribution, endemicity and biology of amphibians in India. You can study the natural history, observe and collect data on amphibians in India using this website. 
                            Year of initiation - 2017
                        </p>
                        <span>Project coordinator -  Ninad Gosavi </span>
                        <br/>
                        Link -<a href="https://www.indianamphibians.org/home" class="btn btn-primary"> https://www.indianamphibians.org/home</a>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/AMP.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Amphibians of India</h5>
                        <p class="card-text"> Amphibians of India is a platform/project developed by Indian Foundation for Butterflies (“IFoundButterflies”). This platform imparts knowledge on distribution, endemicity and biology of amphibians in India. You can study the natural history, observe and collect data on amphibians in India using this website. 
                            Year of initiation - 2017
                        </p>
                        <span>Project coordinator -  Ninad Gosavi </span>
                        <br/>
                        Link -<a href="https://www.indianamphibians.org/home" class="btn btn-primary"> https://www.indianamphibians.org/home</a>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/AMP.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Amphibians of India</h5>
                        <p class="card-text"> Amphibians of India is a platform/project developed by Indian Foundation for Butterflies (“IFoundButterflies”). This platform imparts knowledge on distribution, endemicity and biology of amphibians in India. You can study the natural history, observe and collect data on amphibians in India using this website. 
                            Year of initiation - 2017
                        </p>
                        <span>Project coordinator -  Ninad Gosavi </span>
                        <br/>
                        Link -<a href="https://www.indianamphibians.org/home" class="btn btn-primary"> https://www.indianamphibians.org/home</a>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/AMP.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Amphibians of India</h5>
                        <p class="card-text"> Amphibians of India is a platform/project developed by Indian Foundation for Butterflies (“IFoundButterflies”). This platform imparts knowledge on distribution, endemicity and biology of amphibians in India. You can study the natural history, observe and collect data on amphibians in India using this website. 
                            Year of initiation - 2017
                        </p>
                        <span>Project coordinator -  Ninad Gosavi </span>
                        <br/>
                        Link -<a href="https://www.indianamphibians.org/home" class="btn btn-primary"> https://www.indianamphibians.org/home</a>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/AMP.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Amphibians of India</h5>
                        <p class="card-text"> Amphibians of India is a platform/project developed by Indian Foundation for Butterflies (“IFoundButterflies”). This platform imparts knowledge on distribution, endemicity and biology of amphibians in India. You can study the natural history, observe and collect data on amphibians in India using this website. 
                            Year of initiation - 2017
                        </p>
                        <span>Project coordinator -  Ninad Gosavi </span>
                        <br/>
                        Link -<a href="https://www.indianamphibians.org/home" class="btn btn-primary"> https://www.indianamphibians.org/home</a>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/AMP.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Amphibians of India</h5>
                        <p class="card-text"> Amphibians of India is a platform/project developed by Indian Foundation for Butterflies (“IFoundButterflies”). This platform imparts knowledge on distribution, endemicity and biology of amphibians in India. You can study the natural history, observe and collect data on amphibians in India using this website. 
                            Year of initiation - 2017
                        </p>
                        <span>Project coordinator -  Ninad Gosavi </span>
                        <br/>
                        Link -<a href="https://www.indianamphibians.org/home" class="btn btn-primary"> https://www.indianamphibians.org/home</a>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/AMP.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Amphibians of India</h5>
                        <p class="card-text"> Amphibians of India is a platform/project developed by Indian Foundation for Butterflies (“IFoundButterflies”). This platform imparts knowledge on distribution, endemicity and biology of amphibians in India. You can study the natural history, observe and collect data on amphibians in India using this website. 
                            Year of initiation - 2017
                        </p>
                        <span>Project coordinator -  Ninad Gosavi </span>
                        <br/>
                        Link -<a href="https://www.indianamphibians.org/home" class="btn btn-primary"> https://www.indianamphibians.org/home</a>
                    </div>
                </div>
            </div>
        
        </div>
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col" >
                        <img src="{% static '/images/AMP.jpg' %}"  class="d-block w-100" alt="...">
                    </div>
                    <div class="col" > 
                        <h5 class="card-title">Amphibians of India</h5>
                        <p class="card-text"> Amphibians of India is a platform/project developed by Indian Foundation for Butterflies (“IFoundButterflies”). This platform imparts knowledge on distribution, endemicity and biology of amphibians in India. You can study the natural history, observe and collect data on amphibians in India using this website. 
                            Year of initiation - 2017
                        </p>
                        <span>Project coordinator -  Ninad Gosavi </span>
                        <br/>
                        Link -<a href="https://www.indianamphibians.org/home" class="btn btn-primary"> https://www.indianamphibians.org/home</a>
                    </div>
                </div>
            </div>
        
        </div>

    </div>
</div>



{% endblock %}